<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.cloverclub.mapper.AdminMapper">
	<!-- add goods -->
	<insert id="goodsAdd">
		insert into goods(gdsCode, gdsName, cateCode, gdsPrice, gdsDesc, gdsImg, gdsThumbImg)
		values(#{gdsCode}, #{gdsName}, #{cateCode}, #{gdsPrice}, #{gdsDesc}, #{gdsImg}, #{gdsThumbImg})
	</insert>
	
	<!-- view goods list -->
	<select id="goodsList" resultType="me.cloverclub.vo.GoodsVO">
		select gdsCode, gdsName, cateCode, gdsPrice, gdsDesc, gdsImg, gdsDate
		from goods
		order by gdsDate desc
	</select>
	
	<!-- view goods w/ category join -->
	<select id="goodsView" resultType="me.cloverclub.vo.ShopVO">
		select g.gdsCode, g.gdsName, g.cateCode, c.cateCodeRef, c.cateName, gdsPrice, gdsDesc, gdsImg, gdsThumbImg, gdsDate
		from goods g
		inner join category c on g.cateCode = c.cateCode
		where g.gdsCode = #{gdsNum}
	</select>
	
	<!-- modify goods -->
	<update id="goodsModify">
		update goods
		set gdsName = #{gdsName}, cateCode = #{cateCode}, gdsPrice = #{gdsPrice}, gdsDesc = #{gdsDesc}, gdsImg = #{gdsImg}, gdsThumbImg = #{gdsThumbImg}
		where gdsCode = ${gdsCode}
	</update>
	
	<!-- delete goods -->
	<delete id="goodsDelete">
		delete goods
		where gdsCode = #{gdsCode}
	</delete>
</mapper>