<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.cloverclub.mapper.AdminMapper">
	<!-- add goods -->
	<insert id="goodsAdd">
		insert into goods(gdsCode, gdsName, cateCode, gdsPrice, gdsDesc, gdsImg, gdsThumbImg)
		values(#{gdsCode}, #{gdsName}, #{cateCode}, #{gdsPrice}, #{gdsDesc}, #{gdsImg}, #{gdsThumbImg})
	</insert>
	
	<!-- view goods list -->
	<select id="goodsList" resultType="me.cloverclub.vo.ShopVO">
		select g.gdsCode, g.gdsName, g.cateCode, c.cateCodeRef, c.cateName, gdsPrice, gdsDesc, gdsImg, gdsThumbImg, gdsDate
		from goods g
		inner join category c on g.cateCode = c.cateCode
	</select>
	
	<!-- view goods w/ category join -->
	<select id="goodsView" resultType="me.cloverclub.vo.ShopVO">
		select g.gdsCode, g.gdsName, g.cateCode, c.cateCodeRef, c.cateName, gdsPrice, gdsDesc, gdsImg, gdsThumbImg, gdsDate
		from goods g
		inner join category c on g.cateCode = c.cateCode
		where g.gdsCode = #{gdsNum}
	</select>
	
	<!-- modify goods -->
	<update id="goodsModify">
		update goods
		set gdsName = #{gdsName}, cateCode = #{cateCode}, gdsPrice = #{gdsPrice}, gdsDesc = #{gdsDesc}, gdsImg = #{gdsImg}, gdsThumbImg = #{gdsThumbImg}
		where gdsCode = #{gdsCode}
	</update>
	
	<!-- delete goods -->
	<delete id="goodsDelete">
		delete goods
		where gdsCode = #{gdsCode}
	</delete>
	
	<!-- order list -->
	<select id="orderView" resultType="me.cloverclub.vo.AdminorderVO">
   select o.orderId, o.userId, o.orderRecvr, o.orderZipCode, o.orderAddr1, o.orderAddr2, o.orderTel1, o.orderTel2, o.orderTel3, o.orderDate, 
   d.gdsCode,d.cartStock,
   p.process
   from ordertbl o
   inner join orderDetail d
   on o.orderId = d.orderId
   inner join process p
   on o.orderId = p.orderId
   </select>
   <!-- picking list0 -->
   <select id="pickingView0" resultType="me.cloverclub.vo.PickingVO">
   select o.orderId, 
   d.gdsCode, d.cartStock,
   p.process,
   g.gdsThumbImg
   from ordertbl o
   inner join orderDetail d on o.orderId = d.orderId
   inner join process p on o.orderId = p.orderId
   inner join goods g on d.gdsCode = g.gdsCode
   where process = 0
   </select>
   <!-- picking list1 -->
   <select id="pickingView1" resultType="me.cloverclub.vo.PickingVO">
   select o.orderId, 
   d.gdsCode, d.cartStock,
   p.process,
   g.gdsThumbImg
   from ordertbl o
   inner join orderDetail d on o.orderId = d.orderId
   inner join process p on o.orderId = p.orderId
   inner join goods g on d.gdsCode = g.gdsCode
   where process = 1
   </select>
   <!-- picking complete -->
   <update id = "pickingUpdate">
   	update process
   	set process = 1
   	where orderId = #{orderId}
   </update>
   <!-- picking complete -->
   <update id = "pickingUpdate">
   	update process
   	set process = 0
   	where orderId = #{orderId}
   </update>
</mapper>