<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.cloverclub.mapper.ShopMapper">
   <!-- select all from goods -->
   <select id="show" resultType="me.cloverclub.vo.ShopVO">
   select gdsCode, gdsName, cateCode, gdsPrice, gdsDesc, gdsImg, gdsDate, gdsView
   from goods
   </select>
   
   <!-- select all from goods order by Date -->
   <select id="showRecent" resultType="me.cloverclub.vo.ShopVO">
      select gdsCode, gdsName, cateCode, gdsPrice, gdsDesc, gdsImg, gdsDate, gdsView from goods order by gdsDate DESC limit 3
   </select>
   
   <!-- select all from goods order by gdsView -->
   <select id="showHot" resultType="me.cloverclub.vo.ShopVO">
      select gdsCode, gdsName, cateCode, gdsPrice, gdsDesc, gdsImg, gdsDate, gdsView from goods order by gdsView DESC limit 3
   </select>
   
   <!-- select by category -->
   <select id="list" resultType="me.cloverclub.vo.ShopVO">
   select
   g.gdsCode, g.gdsName, g.cateCode, g.gdsPrice, g.gdsDesc, g.gdsImg, g.gdsDate, g.gdsView
   from goods g
   inner join category c
   on g.cateCode = c.cateCode
   where c.cateCode = #{cateCode} or c.cateCodeRef = #{cateCode}
   </select>
   
   <!-- select by goodsCode -->
   <select id="product" resultType="me.cloverclub.vo.ShopVO">
   select gdsCode, gdsName, cateCode, gdsPrice, gdsDesc, gdsImg, gdsDate, gdsView
   from goods where gdsCode = #{gdsCode}
   </select>
   
   <!-- add Cart -->
   <insert id="addCart">
   insert into cart (cartId, userId, gdsCode, cartStock)
   values (cart_seq.nextval, #{userId}, #{gdsCode}, #{cartStock})
   </insert>
   
   <!-- show Cart -->
   <select id="showCart" resultType="me.cloverclub.vo.CartVO">
   select c.cartId, c.userId, c.gdsCode, c.cartStock, g.gdsName, g.gdsPrice, g.gdsImg
   from cart c
   inner join goods g
   on c.gdsCode = g.gdsCode
   where c.userId = #{userId}
   </select>
   
   <!-- 카트 삭제 -->
   <delete id="deleteCart">
   	delete cart
   	where gdsCode = #{gdsCode}
   	and userId = #{userId}
   </delete>
</mapper>