<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.cloverclub.mapper.ShopMapper">
	<!-- select all from goods -->
	<select id="show" resultType="me.cloverclub.vo.ShopVO">
	select gdsCode, gdsName, cateCode, gdsPrice, gdsDesc, gdsImg, gdsDate, gdsView
	from goods
	</select>
	
	<!-- select all from goods order by Date -->
	<select id="showRecent" resultType="me.cloverclub.vo.ShopVO">
		select gdsCode, gdsName, cateCode, gdsPrice, gdsDesc, gdsImg, gdsDate, gdsView from goods order by gdsDate DESC limit 3
	</select>
	
	<!-- select all from goods order by gdsView -->
	<select id="showHot" resultType="me.cloverclub.vo.ShopVO">
		select gdsCode, gdsName, cateCode, gdsPrice, gdsDesc, gdsImg, gdsDate, gdsView from goods order by gdsView DESC limit 3
	</select>
	
	<!-- select by category -->
	<select id="list" resultType="me.cloverclub.vo.ShopVO">
	select
	gdsCode, gdsName, cateCode, gdsPrice, gdsDesc, gdsImg, gdsDate, gdsView
	from goods      
	where cateCode = #{cateCode}
	</select>
</mapper>